<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>To Do List with Vue</title>

    <!-- Provided stylesheet -->
    <link rel="stylesheet" href="styles.css">

    <!-- Load in the Vue library -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- Load in our helpers library, which lets us make fetch requests -->
    <script src="helpers.js"></script>

    <style>
        .completed {
            opacity: 0.5;
            background-color: rgb(127, 249, 255);
        }
    </style>
</head>

<body>

    <h1>To Do List with Vue</h1>

    <!-- The root element for our Vue app-->
    <div id="app">

        <!-- Toolbar -->
        <div class="toolbar">
            <button class="primary" @click="showAddNewItemPanel">Add Item</button>
            <button class="primary" @click="saveToDoList">Save To-Do List</button>
        </div>


        <!-- Panel: Add New Item -->
        <div class="panel" id="panelAddItem" v-if="isAddPanelVisible">
            <button class="close-button light" @click="hideAddNewItemPanel">✕</button>
            <h2>Add New Item</h2>

            <div class="error-message" v-if="isAddPanelErrorMessageVisible">
                Please fill out the form fully.
            </div>

            <div class="form-row">
                <label for="itemTitle">Title</label>
                <input type="text" id="itemTitle" v-model="addNewItemTitle">
            </div>
            <div class="form-row">
                <label for="itemDescription">Description</label>
                <textarea id="itemDescription" rows="3" v-model="addNewItemDescription"></textarea>
            </div>
            <div class="form-row">
                <label for="itemCategory">Category</label>
                <select id="itemCategory" v-model="addNewItemCategory">

                    <!-- Sample category, replace with your own dynamically -->
                    <option v-for="(color_select, categoryName) in categories" :key="categoryName" :value="categoryName">{{categoryName}}</option>
                    <!-- 
                    <option value="Sample">Sample</option>
                    -->
                </select>
            </div>
            <button class="secondary" @click="saveNewItem">Save Item</button>
        </div>



        <!-- Panel: Edit Existing Item -->
        <div class="panel" id="panelEditItem" v-if="isEditPanelVisible">
            <button class="close-button light" @click="hideEditPanel">✕</button>
            <h2>Edit Item</h2>

            <div class="error-message" v-if="isEditPanelErrorMessageVisible">
                Please fill out the form fully.
            </div>

            <div class="form-row">
                <label for="editTitle">Title</label>
                <input type="text" id="editTitle" v-model="editTitle">
            </div>
            <div class="form-row">
                <label for="editDescription">Description</label>
                <textarea id="editDescription" rows="3" v-model="editDescription"></textarea>
            </div>
            <div class="form-row">
                <label for="editCategory">Category</label>
                <select id="editCategory" v-model="editCategory">

                    <!-- Sample category, replace with your own dynamically -->
                    <option v-for="(color_select, categoryName) in categories" :key="categoryName" :value="categoryName">{{categoryName}}</option>

                </select>
            </div>
            <button class="secondary" @click="saveEditItem">Update Item</button>
        </div>


        <!-- Panel for Existing To-Do Items -->
        <div class="todo-grid" id="panelExistingToDoItems" v-if="isExistingToDoListPanel">

            <!-- Sample to-do list item, replace with your own dynamically -->

            <div class="todo-card" v-for="(item, index) in existingItems" :key="index" :class="{completed: item.complete}">
                <span class="category-tag" :style="{backgroundColor: categories[item.category]}">{{item.category}}</span>
                <h3>{{item.title}}</h3>
                <p>{{item.description}}</p>

                <div class="card-actions">
                    <button class="light" v-if="!item.complete" @click="showEditPanel(index)">Edit</button>
                    <button class="light" @click="toggleCompletion(index)">
                        <span v-if="item.complete">Mark as Active</span>
                        <span v-else>Mark as Complete</span>
                    </button>
                    <button class="light" @click="deleteItem(index)">Delete</button>
                </div>
            </div>

            <!--
            <div class="todo-card">
                <span class="category-tag">Uncategorized</span>
                <h3>File Taxes</h3>
                <p>Complete and file 2025 taxes.</p>

                <div class="card-actions">
                    <button class="light">Edit</button>
                    <button class="light">
                        <span>Mark as Active</span>
                        <span>Mark as Complete</span>
                    </button>
                    <button class="light">Delete</button>
                </div>
            </div>
            -->

        </div>

    </div>


    <!-- Your application code -->
    <script>
        Vue.createApp({
        
            data: function() {
            
                // our reactive data will go in here
                return {

                    isAddPanelVisible: false,
                    isEditPanelVisible: false,
                    isExistingToDoListPanel: true,
                    isAddPanelErrorMessageVisible: false,
                    isEditPanelErrorMessageVisible: false,

                    addNewItemTitle: '',
                    addNewItemDescription: '',
                    addNewItemCategory: '',

                    editTitle: '',
                    editDescription: '',
                    editCategory: '',
                    editItemIndex: null,
                    
                    allCategories: ['Personal', 'School', 'Home', 'Work', 'Play'],

                    existingItems: [
                        {
                            title: 'Walk the dog',
                            description: 'Take the dog out after work',
                            category: 'Personal',
                            complete: false
                        }
                    ],
                    
                    categories: {
                        'Uncategorized': 'grey',
                        'Personal': 'blue',
                        'Work': 'orange',
                        'school': 'green',
                        'home': 'brown'
                    }
                }
            
            },

            methods: {
            
                showAddNewItemPanel: function() {
                    this.isAddPanelVisible = true;
                    this.isExistingToDoListPanel = false;
                },

                hideAddNewItemPanel: function() {
                    this.isAddPanelVisible = false;
                    this.isExistingToDoListPanel = true;
                    
                    this.addNewItemTitle = '';
                    this.addNewItemDescription = '';
                    this.addNewItemCategory = '';
                },

                saveNewItem: function() {
                
                    // check to make sure the user filled out the form completely
                    if (this.addNewItemTitle.length == 0 || this.addNewItemDescription.length == 0 || this.addNewItemCategory.length == 0) {
                        this.isAddPanelErrorMessageVisible = true;
                        return;
                    }

                    // if there are no errors, close the error-message
                    this.isAddPanelErrorMessageVisible = false;

                    this.existingItems.push({
                        title: this.addNewItemTitle,
                        description: this.addNewItemDescription,
                        category: this.addNewItemCategory,
                        complete: false
                    });

                    // hide the panel
                    this.addNewItemTitle = '';
                    this.addNewItemDescription = '';
                    this.addNewItemCategory = '';
                    this.isAddPanelVisible = false;
                    this.isExistingToDoListPanel = true;                
                },

                deleteItem: function(index){
                    this.existingItems.splice(index, 1);
                },

                toggleCompletion: function(index){
                    this.existingItems[index].complete = !this.existingItems[index].complete;
                },

                showEditPanel: function(index) {
                    this.isEditPanelVisible = true;
                    this.isExistingToDoListPanel = false;

                    this.editItemIndex = index;
                    item = this.existingItems[index];
                    this.editTitle = item.title;
                    this.editDescription = item.description;
                    this.editCategory = item.category;
                },

                hideEditPanel: function() {
                    this.isEditPanelVisible = false;
                    this.isExistingToDoListPanel = true;
                    this.editItemIndex = null;
                },

                saveEditItem: function(){
                    if (!this.editTitle || !this.editDescription || !this.editCategory) {
                        this.isEditPanelErrorMessageVisible = true;
                        return;
                    }

                    this.existingItems[this.editItemIndex].title = this.editTitle;
                    this.existingItems[this.editItemIndex].description = this.editDescription;
                    this.existingItems[this.editItemIndex].category = this.editCategory;

                    this.hideEditPanel();
                    this.isEditPanelErrorMessageVisible = false;
                },

                saveToDoList: function(){
                    const jsonData = JSON.stringify(this.existingItems);

                    performFetch({
                        url: 'save_todo_list.php',
                        method: 'POST',
                        data: { todoList: jsonData },
                        success: (response) => {
                            console.log('Save success:', response);
                        },
                        error: (err) => {
                            console.error('Save failed:', err);
                        }
                    });
                
                }
            },

            mounted() {
                console.log('mounted() triggered, fetching...');
                performFetch({
                    url: 'get_todo_list.php',
                    method: 'GET',
                    data: {},
                    success: (data) => {
                        try {
                            this.existingItems = JSON.parse(data);
                            console.log(this.existingItems)
                        } catch (e) {
                            console.warn('Data parse failed, fallback to empty list.');
                            this.existingItems = [];
                        }
                    },
                    error: (err) => {
                        console.warn('No saved file or fetch failed, fallback to empty list.');
                        this.existingItems = [];
                    }
                });
            }
        
        }).mount("#app");
    </script>

</body>

</html>
